/*
Import fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
/*
CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
START CSS
*/
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    display: inline-block;
  }
  html{
    font-size:62.5%;
  }
  body{
    line-height:2;
    font-size:1.5rem;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
  }
  h1, h2, h3, h4{
    font-family: 'Chelsea Market', cursive;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing:3px;
    padding:4% 0;
  }
  .links {
      width: 60%;
      margin: 30px auto;
      
  }
  .links a {
    width: 25%;
    margin: 0px 3.5%;
    padding: 15px;
    line-height: 1;
    display: inline-block;
    border-radius: 12px;
    color: white;
    text-decoration: none;
  }
  
  #planYourVisit {
    background-color: #FF764E;
  }
  #learnAboutThePark {
    background-color: #5ED3EB;
  }
  #getInvolved {
    background-color: #FFCD69;
  }
    #parkGuide #leftSide {
    width:20%;
    }
    #parkGuide #rightSide {
    width:70%;
    }
  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}